#title {
    text-align: center;
}
#header {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
#header button {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 0;
    border: none;
}
#siteList {
    margin-left: 20px;
    margin-right: 20px;
}
#siteView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}